<h1>Book List:</h1>
{{#each booksArr}}
<div class="book-summary">
  <h3>Title:{{this.title}}</h3>
  <p><b>Description: </b>{{this.description}}</p>
  <p><b>Author: </b>{{this.author}}</p>
  </div>
{{/each}}
